%h2 Articles Index

= link_to 'New Article', new_article_path

%table
  %thead
    %tr
      %th ID
      %th Name
      %th Description
      %th Risk
      %th

  %tbody
    - if @articles.any?
      = render @articles

    - else
      %tr
        %td No Articles to show.
